.button {
    color: @color-white;
    background-color: @color-primary-500;
    text-align: center;
    border: 0;
    font-family: @font-heading;
    text-transform: uppercase;
    text-decoration: none;
}

.button--secondary {
    color: @color-gray-700;
    background-color: @color-gray-50;
}
