.logo {
    @media (max-width: @breakpoint-small) {
        display: grid;
        grid-template-columns: 34px 1fr;
        align-items: center;
        gap: 16;
    }
}

.logo__sign {
    justify-self: center;
}
