.page-footer {
    background-color: @color-gray-50;
    padding: 20px;
}

.page-footer__container {
    @media (min-width: @breakpoint-medium) {
        display: grid;
        grid-template-columns: 163px 1fr 163px;
        gap: 16px;
    }
}
