@font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
}
@font-face {
  font-family: "Oswald";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
}
.page__body {
  margin: 0;
}
.button {
  color: #ffffff;
  background-color: #68b738;
  text-align: center;
  border: 0;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}
.button--secondary {
  color: #444444;
  background-color: #f2f2f2;
}
.page-footer {
  background-color: #f2f2f2;
  padding: 20px;
}
.page-main__heading {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #000000;
}
.page-main__subheading {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
.promo {
  padding: 20px;
  color: #ffffff;
  background-color: #68b738;
  background-image: url("../img/index-background.jpg");
  text-align: center;
}
.promo__heading {
  font-family: "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
}
.promo__description {
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
  line-height: 14px;
}
.catalog-section__item {
  background-color: #f2f2f2;
  padding: 20px;
}
.catalog-section__heading {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #000000;
  text-transform: uppercase;
}
.catalog-section__sescription {
  color: #444444;
}
.catalog-section__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}
.process {
  padding: 20px;
}
.process__item {
  color: #444444;
  list-style: none;
}
.example {
  padding: 20px;
  background-color: #ebebeb;
}
.example__text {
  color: #444444;
}
.example__list {
  text-align: center;
}
.example__title {
  color: #444444;
  font-size: 12px;
  line-height: 1;
  text-transform: lowercase;
}
.example__description {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 1;
  text-transform: uppercase;
}
.example__price {
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  line-height: 20px;
}
.contacts {
  padding: 20px;
}
.contacts__heading {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
.contacts__address {
  color: #444444;
  line-height: 20px;
}
.developer {
  color: #444444;
  font-size: 16px;
  text-decoration: none;
}
.site-menu {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  list-style: none;
}
.site-menu__link {
  color: #000000;
  text-decoration: none;
}
.catalog-list {
  padding: 20px;
}
.card__heading {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}
.card__list {
  font-size: 12px;
  color: #444444;
}
.show-more__heading {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}
.show-more__text {
  font-size: 12px;
  color: #444444;
  line-height: 16px;
}
.catalog-additional {
  padding: 20px;
}
.catalog-additional__list {
  list-style: none;
}
.catalog-additional__heading {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 1;
  font-weight: 400;
}
.card-row {
  padding: 20px;
}
.card-row__heading {
  color: #222222;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
}
.card-row__list {
  color: #444444;
  line-height: 1;
}
.offer {
  padding: 40px;
  color: #ffffff;
  background-color: #68b738;
  background-image: url("../img/catalog-background-image.jpg");
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}
.form {
  padding: 0;
}
.form__group {
  margin: 0;
}
.field-group {
  padding: 20px;
  border: none;
}
.field-group__heading {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
}
.field-group__list {
  padding: 0;
  list-style: none;
}
.control {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #222222;
  text-transform: uppercase;
}
.field {
  color: #444444;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}
.field__input {
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}
.switcher__button {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}
/*# sourceMappingURL=style.css.map */
